    body {
        font-family: sans-serif;
        border-left-style: solid;
        border-width: 5px;
        border-color: lightgray;
        min-height: 100vh;
        max-width: 1000px;
        margin: auto;
    }

    h1 {
        color: tomato;
    }

    h2 {
        color: black;
    }

    p {
        color: lightgray;
    }

    img {
        width: 100%;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    li {
        display: inline-block;
    }

    header {
        padding: 1rem 1rem 2rem 2rem;
    }

    main {
        padding: 1rem 1rem 2rem 2rem;
    }

    footer {
        padding: 1rem 1rem 2rem 2rem;
        color: tomato;
    }